.card {
  position: relative;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 1.6em;
  overflow: clip;
  border-radius: $border-rad;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.01);
  }

  @include breakpoint-sm {
    height: unset;
    min-height: 30%;
    flex-basis: 30%;
    flex-grow: 1;
    margin: 0;
  }

  & > img {
    height: 40%;
    position: absolute;
    top: -0.5rem;
    right: 1.5em;
  }

  &:nth-child(1) {
    background-color: $c-p-work;
  }

  &:nth-child(2) {
    background-color: $c-p-play;
  }

  &:nth-child(3) {
    background-color: $c-p-study;
  }

  &:nth-child(4) {
    background-color: $c-p-exercice;
  }

  &:nth-child(5) {
    background-color: $c-p-social;
  }

  &:nth-child(6) {
    background-color: $c-p-selfcare;
  }

  &__wrapper {
    height: 77%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.8rem;
    background-color: $c-n-card-bg;
    border-radius: $border-rad;
    z-index: 1;
    cursor: pointer;

    @include breakpoint-sm {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-start;
    }

    &:hover {
      background-color: lighten($c-n-card-bg, 15%);
    }

    &__upper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 2;

      & > img {
        cursor: pointer;

        &:hover {
          filter: sepia(60%) saturate(100%) hue-rotate(210deg);
        }
      }
    }

    &__currentHours {
      font-size: 2em;
      color: $c-n-white;
      font-weight: lighter;
      @include breakpoint-sm {
        font-size: 3em;
      }
    }

    &__previousHours {
      font-size: 0.95em;
      font-weight: lighter;
      color: $c-n-D;
      align-self: flex-start;
      margin-top: 0.7em;
    }
  }
}
