body {
  color: $c-n-typo;
  font-family: $font;
  background-color: $c-n-main-bg;
  @include breakpoint-sm {
    height: 100vh;
  }
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.container {
  width: 90%;
  margin: 15vh 0;

  @include breakpoint-sm {
    width: 70%;
    height: 60%;
    display: flex;
    margin: 0;
  }
}

.cards {
  @include breakpoint-sm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    flex-basis: 75%;
    gap: 2rem;
  }
}

h1 {
  color: $c-n-white;
  font-size: 1.5em;
  font-weight: 300;
  @include breakpoint-sm {
    font-size: 3em;
  }
}

.h2 {
  color: $c-n-white;
  font-size: 1.15em;
  font-weight: 400;
}

h3 {
  font-size: 0.95em;
  font-weight: 400;
  color: $c-n-D;
  margin-bottom: 0.3em;
}

.label {
  font-size: 0.8em;
  cursor: pointer;

  &--active {
    color: $c-n-white;
  }

  &:hover {
    color: $c-n-white;
  }
}

