@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

$font: 'Rubik', sans-serif;

$c-p-user: hsl(246, 80%, 60%);
$c-p-work: hsl(15, 100%, 70%);
$c-p-play: hsl(195, 74%, 62%);
$c-p-study: hsl(348, 100%, 68%);
$c-p-exercice: hsl(145, 58%, 55%);
$c-p-social: hsl(264, 64%, 52%);
$c-p-selfcare: hsl(43, 84%, 65%);

$c-n-main-bg: hsl(226, 43%, 10%);
$c-n-card-bg: hsl(235, 46%, 20%);
$c-n-typo: hsl(235, 45%, 61%);
$c-n-D: hsl(236, 100%, 87%);
$c-n-white: hsl(0, 0%, 100%);

$userboard-padding: 2rem;
$border-rad: 1rem;